.tracklist-song-container {
  padding: 0 2rem 0 2rem;
  height: 100px;
  width: 100%;
  display: flex;
  transition: all 0.3s ease;
}

.tracklist-song-container:hover {
  background-color: lightblue;
  transition: all 0.3s ease;
}

.tracklist-cover-img {
  margin: 20px 0;
  height: 60px;
}

.tracklist-song-desc {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tracklist-song-name {
  padding-left: 1rem;
  font-size: 1rem;
}

.tracklist-artist-name {
  padding-left: 1rem;
  font-size: 0.7rem;
}
