.music-player-container {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.time-control-container {
  margin-top: 8vh;
  width: 50%;
  display: flex;
}

.song-time {
  padding: 0 1rem 0 1rem;
  user-select: none;
}

.track {
  background: rgb(170, 170, 170);
  width: 100%;
  height: 1rem;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.slider {
  width: 100%;
  -webkit-appearance: none;
  background: transparent;
  cursor: pointer;
}

.slider:focus {
  outline: none;
  -webkit-appearance: none;
}

.play-controls-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 30%;
}

@media screen and (max-width: 768px) {
  .time-control-container {
    width: 90%;
  }

  .slider::-webkit-slider-thumb {
    height: 48px;
    width: 48px;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    background: transparent;
    border: none;
  }

  .slider::-moz-range-thumb {
    -webkit-appearance: none;
    background: transparent;
    border: none;
  }

  .slider::-ms-thumb {
    -webkit-appearance: none;
    background: transparent;
    border: none;
  }

  .slider::-moz-range-thumb {
    -webkit-appearance: none;
    background: transparent;
    border: none;
  }
  .play-controls-container {
    width: 60%;
  }
}
