* {
	margin: 0 auto;
	box-sizing: border-box;
}
body {
	font-family: "Lato", sans-serif;
	background-color: black;
}

h1,
h2,
h3 {
	color: white
}

h3,
h4 {
	font-weight: 400;
	color: white
}

.app-container {
	padding-top: 60px;
}

