.nav-container {
  min-height: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tracks-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  border: 2px solid rgb(65, 65, 65);
  padding: 0.5rem;
  transition: all 0.3s ease;
}

.tracks-btn:hover {
  background: rgb(65, 65, 65);
  color: white;
}

@media screen and (max-width: 768px) {
  .nav-container {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
  }
}
