.song-detail-container {
  margin-top: 10vh;
  min-height: 50vh;
  max-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.album-art {
  width: 25%;
}

.song-name-text {
  padding-top: 20px;
  padding-bottom: 5px;
  font-size: 22px;
}

.song-artist-text {
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .album-art {
    width: 70%;
  }
}
